In [17]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Team data files
hof_path = 'HOF.csv'
player_awards_path = 'AwardsPlayers.csv'
coach_awards_path = 'AwardsCoaches.csv'
nhl_team_path = 'Teams.csv'

# Read the mouse data and the study results
nhl_team_data = pd.read_csv(nhl_team_path)
player_awards_data = pd.read_csv(player_awards_path)
hof_data = pd.read_csv(hof_path)
coach_awards_data = pd.read_csv(coach_awards_path)

# Display the data table for preview
#nhl_team_data.head()

# Merge data
merged_data = pd.merge(hof_data, player_awards_data, on='year')

merged_data.head()

,year,hofID,name,category,playerID,award,lgID,note,pos
0,1945,bakerho01h,Hobey Baker,Player,bentlma01,Art Ross,NHL,NaN,NaN
1,1945,bakerho01h,Hobey Baker,Player,lapraed01,Calder,NHL,NaN,NaN
2,1945,bakerho01h,Hobey Baker,Player,bentlma01,First Team All-Star,NHL,NaN,C
3,1945,bakerho01h,Hobey Baker,Player,bouchbu01,First Team All-Star,NHL,NaN,D
4,1945,bakerho01h,Hobey Baker,Player,crawfja01,First Team All-Star,NHL,NaN,D

In [21]:
# check for duplicates. there are many
columns_to_check_duplicates = ['year', 'hofID', 'name', 'category', 'playerID', 'award', 'lgID', 'note', 'pos']

# drop duplicates
cleaned_df = merged_data.drop_duplicates(subset=columns_to_check_duplicates)

cleaned_df.head()

,year,hofID,name,category,playerID,award,lgID,note,pos
0,1945,bakerho01h,Hobey Baker,Player,bentlma01,Art Ross,NHL,NaN,NaN
1,1945,bakerho01h,Hobey Baker,Player,lapraed01,Calder,NHL,NaN,NaN
2,1945,bakerho01h,Hobey Baker,Player,bentlma01,First Team All-Star,NHL,NaN,C
3,1945,bakerho01h,Hobey Baker,Player,bouchbu01,First Team All-Star,NHL,NaN,D
4,1945,bakerho01h,Hobey Baker,Player,crawfja01,First Team All-Star,NHL,NaN,D

In [22]:
dropped_df = cleaned_df.drop('note', axis=1)
dropped_df.head()

,year,hofID,name,category,playerID,award,lgID,pos
0,1945,bakerho01h,Hobey Baker,Player,bentlma01,Art Ross,NHL,NaN
1,1945,bakerho01h,Hobey Baker,Player,lapraed01,Calder,NHL,NaN
2,1945,bakerho01h,Hobey Baker,Player,bentlma01,First Team All-Star,NHL,C
3,1945,bakerho01h,Hobey Baker,Player,bouchbu01,First Team All-Star,NHL,D
4,1945,bakerho01h,Hobey Baker,Player,crawfja01,First Team All-Star,NHL,D