In [2]:
import pandas as pd
from pathlib import Path

In [3]:
Scoring_shootout= Path("Resources/ScoringShootout.csv")
Scoring_shootout_df= pd.read_csv(Scoring_shootout)
Scoring_shootout_df

       playerID  year  stint tmID  S  G  GDG
0     adamske01  2006      1  PHO  1  0    0
1     afanadm01  2005      1  TBL  1  0    0
2     afanadm01  2006      1  TBL  2  1    1
3     afinoma01  2005      1  BUF  5  3    2
4     afinoma01  2006      1  BUF  6  2    1
...         ...   ...    ...  ... .. ..  ...
2067  zubruda01  2005      1  WAS  2  1    0
2068  zubruda01  2006      1  WAS  1  0    0
2069  zubruda01  2007      1  NJD  1  0    0
2070  zuccama01  2010      1  NYR  9  5    3
2071  zuccama01  2011      1  NYR  0  1    0

[2072 rows x 7 columns]

In [22]:
scoring_s_y= Scoring_shootout_df.filter(['year'], axis=1)
sv= scoring_s_y.drop_duplicates("year", keep='first')
sv= sv.sort_values('year', ascending=True)
scoring_final= sv.set_index('year')
scoring_final

Empty DataFrame
Columns: []
Index: [2005, 2006, 2007, 2008, 2009, 2010, 2011]

In [4]:
Scoring_shootout_df['year'].unique()

array([2006, 2005, 2007, 2009, 2008, 2010, 2011], dtype=int64)

In [5]:
#Calculating the number of games that teams played in a shoutout per year
Year1= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2005,'S'].sum()
Year2= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2006,'S'].sum()
Year3= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2007,'S'].sum()
Year4= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2008,'S'].sum()
Year5= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2009,'S'].sum()
Year6= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2010,'S'].sum()
Year7= Scoring_shootout_df.loc[Scoring_shootout_df['year'] ==2011,'S'].sum()

In [27]:
Scoring_per_year=({"2005":Year1, 
                          "2006": Year2, 
                          "2007": Year3, 
                          "2008": Year4,
                          "2009": Year5,
                          "2010": Year6,
                          "2011": Year7,
                          })
print(Scoring_per_year)

# Convert the dictionary to a DataFrame

Scoring_shootout_df= pd.DataFrame.from_dict(Scoring_per_year, orient='index', columns=['Value'])

# Reset the index to have 'Year' as a separate column
Scoring_shootout_df.reset_index(inplace=True)
Scoring_shootout_df.columns = ['Year', 'Value']

# Display the resulting DataFrame
Scoring_shootout_df

{'2005': 981, '2006': 1215, '2007': 1058, '2008': 1059, '2009': 1398, '2010': 1059, '2011': 409}

   Year  Value
0  2005    981
1  2006   1215
2  2007   1058
3  2008   1059
4  2009   1398
5  2010   1059
6  2011    409

In [14]:
Scoring_shootout_df= pd.DataFrame(Scoring_per_year).set_index

ValueError: If using all scalar values, you must pass an index